name: user-statistician

on:
schedule:
  - cron: '0 0,12 * * *'
  workflow_dispatch:
jobs:
  stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate user stats SVG
        uses: cicirello/user-statistician@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
 
